/* Fonts */
body h2 {
  font-family: chewyregular;
  font-size: 35px;
}

body p,
label,
button {
  font-family: aliceregular;
}
/* Akhir fonts */

/* Navbar */
nav {
  background-color: #505050;
}

.navbar-brand {
  font-family: playlistcaps;
  font-size: 35px;
}

.navbar-collapse {
  font-family: chewyregular;
  font-size: 25px;
}
/* Akhir Navbar */

/* Jumbotron */
.jumbotron {
  padding-top: 2rem;
  background-image: url(img/bg.png);
  background-attachment: fixed;
  font-family: chewyregular;
  overflow: hidden;
}

.jumbotron img {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron h1,
.jumbotron p {
  font-family: chewyregular;
  text-shadow: 1px 1px 10px rgb(255, 255, 255);
}
/* Akhir Jumbtron */

/* About */
.about {
  background-color: #d8d8d8;
}

.col-md-5 {
  text-align: justify;
  /* optional */
  padding: 30px;
  margin: 10px;
}

.pkiri,
.pkanan {
  opacity: 0;
  transform: translate(-50px, 0);
  transition: 1s;
}

.pkanan {
  transform: translate(50px, 0);
}

.pkiri.pmuncul,
.pkanan.pmuncul {
  opacity: 1;
  transform: translate(0, 0);
}
/* Akhir About */

/* Gallery */
.gallery {
  background-image: url(img/bg.png);
  background-attachment: fixed;
}

.card {
  opacity: 0;
  transform: translate(0, -40px);
  transition: 0.5s;
}

.card.muncul {
  opacity: 1;
  transform: translate(0, 0);
}
/* Akhir Gallery */

/* Contact */
#contact {
  background-color: #d8d8d8;
}
/* Akhir Contact */

/* Footer */
footer {
  background-color: #505050;
}

footer p,
a {
  font-family: chewyregular;
  font-size: 20px;
}
/* Akhir Footer */
